html, body{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-size: 16px;
  }

nav {
  margin-top: 0px;
  text-align: center;
  background-size: cover;
  background-position: bottom center;
  height: 25.75rem;
  width: 100%;

  }
nav img{
  background-size: cover;
  height: 100%;
 
}

  nav h3{
    font-family: Relaway, sans-serif;
    color: aliceblue;
    font-weight: 300;
    font-size: 25px;
    letter-spacing: 2px;
    padding:15px ;
  }


  #bienvenida{
    font-family: Relaway, sans-serif;
    text-align: center;
    padding: 50px;
  }
  
  .section1{
    margin: 0 auto;
    padding: 2.5em;
    text-align: center;
  }

  .section1 p{
    line-height: 20px;
    padding: 20px 20px;
    margin-bottom: 20px;
    color: #333;
    font-family:cursive;
    font-size: 1.2rem;
  }


  .section2{
    text-align: center;
  }
  
  #empezar{
    font-family:Raleway, sans-serif;
    padding: 20px 50px;
    border: 3px;
    border-radius: 3px;
    font-size: 20px ;
    font-weight: 700;
    text-align: center;
    background-color: #333;
    color: whitesmoke;
  }
  #empezar :hover{
  background-color: whitesmoke;
  border-color: #333; 
  border: 3px solid #333;
  color: #333;
  font-weight: 700;
  }

  .section2 a:hover{
  background-color: whitesmoke;
  border-color: #333; 
  border: 3px solid #333;
  color: #333;
  font-weight: 700;
  }

  

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0 80px 10px;
    text-align: center;
    margin-top: 10px;
  

  }

 .section3{
  text-align: center;
  font-family:Raleway, sans-serif;
  text-align: center;
  float:center;
 }
 #ucclogo{
    float: left;
  }

