body, html {
    padding: 0;
    margin: 0;
    font-size: 16px;
    background-image: url("../images/fondito2.png");
    background-position: center;
    background-size: cover;
}

nav {
    display: inline-flex;
    padding: 130px 0;
    background-image: url("../images/fondoarriba2.png");
    background-size: cover;
    width: 100%;
    margin: 0;
}

nav img {
    height: 100px;
    padding-left: 20px;
}

#limpiar {
    text-align: center;

}


#limpiar button:hover {
    background-color: #fff;
    color: #e61bd5;
    border: solid #e61bd5;

}

button {
    font-size: 20px;
    margin: 30px;
    padding: 20px;
    background-color: #e61bd5;
    color: #fff;
    border: 3px;
}

canvas {
    width: 1200px;
    height: 500px;
    background-color: #fff;
    border: 4px solid #e61bd5;
    border-radius: 10px;

}

#opciones {
    display: block;
    border: 4px solid #e61bd5;
    margin: 10px 10%;
    border-radius: 10px;
}

label {
    font-family: Raleway, sans-serif;
    color: #333;
    font-weight: 900;
    font-size: larger;
    margin: 20px;
}

select {
    font-size: 20px;
    margin: 30px;
    padding: 20px;
    background-color: #0881f3;
    border: 4px solid #e61bd5;
    color: #fff;
}


#principal {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

input {
    background-color: #0881f3;
    width: 50px;
    height: 50px;
    border: 4px solid #e61bd5;
    border-radius: 100px;
}


footer {
    background-image: url("../images/fondoabajo2.png");
    background-size: cover;
    color: #333;
    padding: 20px 0 80px 10px;
    text-align: center;
    margin-top: 10px;
}

.section3 {
    text-align: center;
    font-family: Raleway, sans-serif;
    display: flex;
}

#ucclogo {
    float: left;
}


@media screen and (max-width: 1400px) {


    canvas {
        width: 80%;
    }

    #opciones {
        height: 300px;
        display: block;
        padding: 100px;
    }


}

