body, html {
    padding: 0;
    margin: 0;
    font-size: 16px;
    background-image: url("/Resources/images/fondito2.png");
    background-position: center;
    background-size: cover;
}

nav {
    display: inline-flex;
    padding: 130px 0;
    background-image: url("/Resources/images/fondoarriba2.png");
    background-size: cover;
    width: 100%;
    margin: 0;
}

nav img {
    height: 140px;
    padding-left: 20px;
}

#limpiar {
    text-align: center;
}

#limpiar button:hover {
    background-color: #fff;
    color: #333;
    border: 3px solid #333;

}

button:hover {
    background-color: #fff;
    color: #333;
    border: 3px solid #333;
}

canvas {
    border: 3px solid #333;
}

#opciones {
    display: block;
}

select {
    font-size: 20px;
    margin: 30px;
    padding: 20px;
    background-color: #333;
    color: #fff;
    border: 3px;
}

label {
    font-family: Raleway, sans-serif;
    color: #333;
    font-weight: bolder;
    font-size: larger;
}


#principal {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}


button {
    font-size: 20px;
    margin: 30px;
    padding: 20px;
    background-color: #333;
    color: #fff;
    border: 3px;
}


footer {
    background-image: url("/Resources/images/fondoabajo2.png");
    background-size: cover;
    color: #333;
    padding: 20px 0 80px 10px;
    text-align: center;
    margin-top: 10px;
}

.section3 {
    text-align: center;
    font-family: Raleway, sans-serif;
    display: flex;

}

#ucclogo {
    float: left;
}
  
  
